{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    {{ parent() }}
    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">G&D vestuvės</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">A free, responsive, one page Bootstrap theme created by
                    Start Bootstrap.</h2>
                <a href="#projects" class="btn btn-primary js-scroll-trigger">Get Started</a>
            </div>
        </div>
    </header>
    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
        <div id="liveDemo" class="justified-gallery col-sm-12 col-lg-8 mx-auto"
             style="padding-left: 0px; padding-right: 0px;">
            {% for datas in data %}
                <a href="/uploads/images/{{ datas.pavadinimas }}/{{ datas.imageName }}" title="G&D">
                    <img src="/uploads/images/{{ datas.pavadinimas }}/{{ datas.imageName }}" alt="">
                </a>
            {% endfor %}
        </div>
    </section>
    {% include 'home/footer.html.twig' %}
    {% block footer %}{% endblock %}
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script>
         $(document).ready(function () {
             $('#jgs-form').submit(false);

             $('#liveDemo').justifiedGallery({
                 rowHeight: 350,
                 maxRowHeight: null,
                 margins: 3,
                 border: 0,
                 rel: 'liveDemo',
                 lastRow: 'justify',
                 captions: true,
                 randomize: false,
                 sizeRangeSuffixes: {
                     lt100: '_t',
                     lt240: '_m',
                     lt320: '_n',
                     lt500: '',
                     lt640: '_z',
                     lt1024: '_b'
                 }
             }).on('jg.complete', function () {
                 $(this).find('a').colorbox({
                     maxWidth: '90%',
                     maxHeight: '90%',
                     opacity: 0.8,
                     transition: 'elastic',
                     current: ''
                 });
             });

             $('#jgs-form #jgs-rowHeight').on('keyup', function () {
                 var m = parseInt($(this).val(), 10);
                 if (!isNaN(m) && m > 0) {
                     $('#liveDemo').justifiedGallery({rowHeight: m});
                     $('#jgs-form #jgs-rowHeight-container').removeClass('has-error');
                 } else {
                     $('#jgs-form #jgs-rowHeight-container').addClass('has-error');
                 }
             });

             $('#jgs-form #jgs-maxRowHeight').on('keyup', function () {
                 var m = parseInt($(this).val(), 10);
                 if (!isNaN(m) && m >= 0) {
                     $('#liveDemo').justifiedGallery({maxRowHeight: m});
                     $('#jgs-form #jgs-maxRowHeight-container').removeClass('has-error');
                 } else {
                     $('#jgs-form #jgs-maxRowHeight-container').addClass('has-error');
                 }
             });

             $('#jgs-form #jgs-margins').on('keyup', function () {
                 var m = parseInt($(this).val(), 10);
                 if (!isNaN(m) && m >= 0) {
                     $('#liveDemo').justifiedGallery({margins: m});
                     $('#jgs-form #jgs-margins-container').removeClass('has-error');
                 } else {
                     $('#jgs-form #jgs-margins-container').addClass('has-error');
                 }
             });

             $('#jgs-form #jgs-border').on('keyup', function () {
                 var b = parseInt($(this).val(), 10);
                 if (!isNaN(b)) {
                     $('#liveDemo').justifiedGallery({border: b});
                     $('#jgs-form #jgs-border-container').removeClass('has-error');
                 } else {
                     $('#jgs-form #jgs-border-container').addClass('has-error');
                 }
             });

             $('#jgs-form input[name="jgs-lastRow"]').on('change', function (e) {
                 $('#liveDemo').justifiedGallery({lastRow: $(this).val()});
             });

             $('#jgs-form #jgs-captions').on('change', function (e) {
                 if (!$(this).prop('checked')) $('#liveDemo .caption').remove();
                 $('#liveDemo').justifiedGallery({captions: $(this).prop('checked')});
             });

             $('#jgs-form #jgs-randomize').on('change', function (e) {
                 $('#liveDemo').justifiedGallery({randomize: $(this).prop('checked')});
             });

         });
     </script>
     {#<script>#}
     {#colorboxConf = {#}
     {#maxWidth : '90%',#}
     {#maxHeight : '90%',#}
     {#opacity : 0.8,#}
     {#transition : 'elastic',#}
     {#current : ''#}
     {#};#}
     {#</script>#}
 {% endblock %}
